
/* src/assets/css/StyleNav.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #1A237E; /* Màu xanh lam đậm */
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.menu-item a {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

.menu-item.active{
    color: #1A237E;
    font-weight: 700;
}
.menu-item.active::before {
    transform: scaleX(1);
   
    background-color: red;
  }
.menu-item a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: red; /* Màu xanh lam nhạt */
    transition: width 0.3s ease, background-color 0.3s ease;
    -webkit-transition: width 0.3s ease, background-color 0.3s ease;
}

.menu-item a:hover::after {
    width: 100%;
    left: 0;
    background: #64B5F6; /* Màu xanh lam nhạt */
}

.menu-item a:hover {
    color: #64B5F6; /* Màu xanh lam nhạt */
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.content {
    padding: 2rem;
}

.button {
    background-color: #64B5F6;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #1A237E;
    color: #64B5F6;
}

/* Media Queries */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #1A237E;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu-item {
        text-align: center;
        padding: 1rem 0;
        width: 100%;
    }

    .menu-item a {
        display: block;
        width: 100%;
    }
}